body {
    margin: 0;
    padding: 0;
}

#icon {
    width: 20px;
    height: 20px;
    top: 22px;
    left: 85px;
    position: absolute;

}

.list-group.list-group-custom {
    width: 15%;
    text-align: center;
}

#category-container {
    
}

#category-area {
    margin-top: 10%;
}

li{
    list-style-type: none;
}

/*
li:hover {
    cursor: pointer;
    border-right: 5px solid #2980b9;
}
*/
.category-name, .category-name:hover {
    text-decoration: none;
}

.question-name{
    cursor: pointer;
}

#question-content {
    resize: none;
}

.question-box {
    width: 90%;
}

#registerLink, #loginLink, .navbar-brand.navbar-brand-custom.navbar-inverse, .navbar-inverse .navbar-brand.navbar-brand.navbar-brand-custom, #profile-manage, #log-off {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.navbar.navbar-inverse.navbar-fixed-top.navbar-custom {
    height: 10%;
    background-color: #2c3e50;
}

#categories {
    margin-top: 10%;
    margin-left: 200px;
}

.count-box {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid #16a085;
    box-shadow: 0px 0px 10px #16a085;
    display: inline-block;
    margin-top: 2%;
    position: relative;
}

.count-box.category-count-box {
    margin-top: 5%;
}

ul.list-group{
    position: absolute;
    width: 70%;
}

.list-group-item a.element-value {
    top: 60px;
    left: 140px;
}

a.element-value.question-name {
    top: 70px;
}

.list-group-item a.element-value, p.count-value{
    color: #2c3e50;
    font-size: 18px;
    display: inline-block;
    position: absolute;

}

p.count-value {
    margin-top: 29px;
    margin-left: 34px;
}

.no-questions, .no-answers {
    margin-top: 10%;
    margin-left: 35%;
}

.post-form {
    margin-top: 10%;
    position: relative;
}

#question-title {
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 2px;
}

#question-title.form-control {
    width: 40%;
    font-size: 16px;
    color: #2c3e50;
}

.post-form, #question-section {
    margin-left: 25%;
    margin-top: 10%;
}

#register-form {
    width: 60%;
    float: left;
}

#register-greeting {
    float: right;
    margin-right: 10%;
}

#register-greeting, #register-form {
    margin-top: 15%;
}

#profile-container {
    margin-top: 7%;
    margin-left: -9%;
    position: relative;
}

.new-post{
    border: 1px solid #ccc;
    padding-left: 15%;
    padding-right: 15%;
    padding-top:5%;
    padding-bottom: 5%;
}

.image-holder{
    border:1px solid #ccc;
    border-radius: 100px;
    position: absolute;
    top: 36%;
    left: 2.8%;
}

.image-holder > img {
    width: 80px;
	height: 80px;
}

.image-holder > img, .post-profile > img, .profile-answer-img > img{
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.post-profile > img {
    width: 40px;
	height: 40px;
    float: left;
}

ul.date-time {
    margin-left: 78%;
    margin-bottom: 2%;
}

ul.date-time li.time {
    display: inline;
}

.post-profile {
    margin-left: 14.5%;
    position: absolute;
    bottom: 15%;
    float: left;
}

p.user-name {
    position: absolute;
    left: 125%;
    top: 20%;
}

.image-holder-answer{
    margin-top: 1.5%;
}

#title {
    padding-bottom: 2%;
}

.profile-answer-img {
    float: left;
    margin-top: 3.7%;
}

.profile-answer-img > img {
    width: 40px;
    height: 40px;
}

.answer-content p {
    margin-left: 10%;
    margin-top: 5%;
    word-wrap: break-word;
}

.all-comments, .comment {
    top: 25%;
    padding-right: 5%;
}

.answer-info {
    position: relative;
}

.comments-section {
    left: 10%;
    width: 50%;
    display: block;
    position:absolute;
}

.loaded-comments {
    display: none;
}

input[type=submit].btn {
    float: left;
}

#post{
    display: none;
}