@model System.Collections.Generic.IList<ForumSystem.Models.Category>

<div id="categories">
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <div class="count-box">
                    <p class="count-value">@category.Questions.Count</p>
                </div>
            </li>
        }
    </ul>
</div>

